<!DOCTYPE html>
<html>
<head>
	<title>Books</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<a href="/createBook">Create book</a> <br>
<a href="/authors">Authors</a> <br>
<a href="/companies">Companies</a>

<table class="table table-bordered table-dark" style="margin-top: 70px">
	<tr>
		<td>ID</td>
		<td>Name</td>
		<td>Published</td>
		<td>Genre</td>
		<td>Published from company</td>
		<td>Author</td>
	</tr>

	{% for book in all_books %}
		<tr>
			<td>{{book.id}}</td>
			<td>{{book.name}}</td>
			<td>{{book.publish_year}}</td>
			<td>{{book.genre}}</td>
			<td>{{publish_company}}</td>
			<td>{{book.author}}</td>
		</tr>
	{% endfor %}
</table>
</body>
</html>